body{
    text-align: center;
}

h1{
    margin: 50px auto;
}

.section_img{
    display: inline-block;
    position: relative;
}

img{
    margin-top: 50px; 
    width: 100%;
}



#msg{
    position: absolute;
    width: 200px;
    transition: all 2s;
    background: rgba(203, 149, 240, 0.733);
    padding: 20px;
    border-radius: 50%;
    transform: scale(0);
    opacity: 0;
}

